@import "common/foundation/variables";

.hljs {
  color: dark-light-choose($hljs_light, $hljs_dark) !important;
}

.hljs-comment,
.hljs-doctag {
  color: dark-light-choose($comment_light, $comment_dark) !important;
}

.hljs-keyword,
.javascript .hljs-title,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: dark-light-choose($keyword_light, $keyword_dark) !important;
}

.hljs-number,
.ruby .hljs-constant {
  color: dark-light-choose($number_light, $number_dark) !important;
}

.hljs-string,
.hljs-tag .hljs-string,
.tex .hljs-formula {
  color: dark-light-choose($string_light, $string_dark) !important;
}

.hljs-title,
.hljs-name,
.coffeescript .hljs-params,
.scss .hljs-meta {
  color: dark-light-choose($title_light, $title_dark) !important;
}

//title inside class element
.hljs-class .hljs-title,
.haskell .hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: dark-light-choose($class_title_light, $class_title_dark) !important;
}

.hljs-tag,
.hljs-tag .hljs-title,
.django .hljs-tag .hljs-keyword {
  color: dark-light-choose($tag_light, $tag_dark) !important;
}

.hljs-attribute,
.css .hljs-keyword,
.hljs-variable,
.lisp .hljs-body {
  color: dark-light-choose($attribute_light, $attribute_dark) !important;
}

.hljs-regexp {
  color: $success;
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: dark-light-choose($symbol_light, $symbol_dark) !important;
}

.hljs-built_in,
.lisp .hljs-title,
.clojure .hljs-built_in,
.hljs-builtin-name {
  color: $tertiary-high;
}

.meta {
  color: $primary-medium;
}

.hljs-deletion {
  background: $danger-low;
}

.hljs-addition {
  background: $success-low;
}

.diff .hljs-meta {
  color: $primary-low;
}
