@import "common/foundation/variables";
@import url('https://fonts.googleapis.com/css?family=#{$font}');

$i: !important;

// --------------------------------------------------------------- //

code, pre {
    font-family: $font_family;
    font-size: #{$font_size};
    border-radius: #{$border_radius}px;
    border: #{$border};
    box-shadow: #{$box_shadow};
}
.hljs {
  color: dark-light-choose($hljs_light, $hljs_dark) $i;
}

.hljs-comment,
.hljs-doctag {
  color: dark-light-choose($comment_light, $comment_dark) $i;
}

.hljs-keyword,
.javascript .hljs-title,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: dark-light-choose($keyword_light, $keyword_dark) $i;
}

.hljs-number,
.ruby .hljs-constant {
  color: dark-light-choose($number_light, $number_dark) $i;
}

.hljs-string,
.hljs-tag .hljs-string,
.tex .hljs-formula {
  color: dark-light-choose($string_light, $string_dark) $i;
}

.hljs-title,
.hljs-name,
.coffeescript .hljs-params,
.scss .hljs-meta {
  color: dark-light-choose($title_light, $title_dark) $i;
}

//title inside class element
.hljs-class .hljs-title,
.haskell .hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: dark-light-choose($class_title_light, $class_title_dark) $i;
}

.hljs-tag,
.hljs-tag .hljs-title,
.django .hljs-tag .hljs-keyword {
  color: dark-light-choose($tag_light, $tag_dark) $i;
}

.hljs-attribute,
.css .hljs-keyword,
.hljs-variable,
.lisp .hljs-body {
  color: dark-light-choose($attribute_light, $attribute_dark) $i;
}

.hljs-regexp {
  color: $success;
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: dark-light-choose($symbol_light, $symbol_dark) $i;
}

.hljs-built_in,
.lisp .hljs-title,
.clojure .hljs-built_in,
.hljs-builtin-name {
  color: $tertiary-high;
}

.meta {
  color: $primary-medium;
}

.hljs-deletion {
  background: $danger-low;
}

.hljs-addition {
  background: $success-low;
}

.diff .hljs-meta {
  color: $primary-low;
}

p > code,
li > code,
pre > code {
  color: dark-light-choose($code_light, $code_dark) $i;
  background: dark-light-choose($code_background_light, $code_background_dark) $i;
}

// --------------------------------------------------------------- //

/*
.hljs-built_in,
.lisp .hljs-title,
.clojure .hljs-built_in,
.hljs-builtin-name {
  color: $tertiary-high;
}

.meta {
  color: $primary-medium;
  font-weight: bold;
}

.hljs-deletion {
  background: $danger-low;
}

.hljs-addition {
  background: $success-low;
}

.diff .hljs-meta {
  color: $primary-low;
}
*/
